<div class="relative">
    <span class="grid place-items-center absolute top-1/2 -translate-y-1/2 left-6 -rotate-45 text-white">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circles-relation" width="24"
            height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M9.183 6.117a6 6 0 1 0 4.511 3.986" />
            <path d="M14.813 17.883a6 6 0 1 0 -4.496 -3.954" />
        </svg>
    </span>
    <input type="text" class="
     outline-none focus:outline focus:outline-zinc-800 transition-colors placeholder:text-zinc-500
    pl-16 pr-[124px] h-16 text-white bg-zinc-950  shadow-sm shadow-black/20  rounded-full w-full" [class]="inputClassStyles" [placeholder]="inputPlaceholder">
    <button class="
        block 
        absolute 
        top-1/2 
        -translate-y-1/2 
        right-2 
        px-6 
        py-3 
        bg-zinc-800 
        hover:bg-zinc-700
        transition-colors
        text-white rounded-full">
        {{buttonLabel}}
    </button>
</div>