@if (url) {
    <div class="flex flex-col items-center mx-auto w-80 gap-2 relative">
        <p class="text-white">Your link: </p>
        <div class="flex items-center justify-between gap-2 bg-zinc-950 py-2 px-2 rounded-full max-w-full">
            <p class="text-slate-500 pl-4 text-nowrap whitespace-nowrap text-ellipsis max-w-[80%] overflow-hidden">
                {{url}}
            </p>
            <button 
                (click)="onCopyLink()"
            class="px-4 
                py-2 
                bg-zinc-800 
                hover:bg-zinc-700
                transition-colors
                text-white rounded-full">COPY</button>
        </div>
        @if (showCopyMessage) {
            <div class="absolute animate-jump animate-duration-300 right-0 -bottom-[60%] bg-slate-500  px-4 py-2 text-white rounded-full">
                Tiny URL Copied!
            </div>
        }
    </div>
}
