<header class="
    h-screen 
    bg-neutral-900 
    text-neutral-200 
    relative 
    flex 
    flex-col 
    items-center 
    justify-center
    gap-8
    ">
    <figure class="bg-neutral-800 rounded-2xl flex flex-col justify-center items-center p-4 gap-4">
        <img class="w-full max-w-20 object-contain" src="assets/images/svg/logo.svg" alt="Link sharing illustration">
    </figure>
    <app-input-button buttonLabel="Create" class="w-full max-w-[600px]" />
</header>
<main class=" bg-neutral-800 text-neutral-200">
    Hi
</main>