/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html,
body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}


h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

p {
    @apply text-zinc-400
}

input {
    font-size: 1rem;
}

input[type=text] {
    appearance: none;
    border: none;
    outline: none;
}

input.ng-invalid.ng-dirty.ng-touched {
    box-shadow: 0 0 2px red !important;
}

.loading *{
    pointer-events: none;
    user-select: none;
}

@layer utilities {
    .input-floating-error {
        @apply absolute -bottom-[50%] left-4 text-[red]
    }
}